body {
	overflow: hidden;
}

.stream-wrapper {
	canvas {
		width: 100%;
		height: 100%;
	}
}

.ant-card-body {
	overflow: hidden;
}

.list-item {
	> i {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 999;
		font-size: 20px;
		cursor: pointer;
	}
}

.ant-card-body > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	word-break: break-all;
}

i.exit-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: #bd3c3c;
  font-size: 30px;
}

@media only screen and (max-width: 950px) {
  .App div.content {
    width: 90%;
    max-width: 90%;

    div.options button {
      min-width: 100px;
    }
  }
}

/* 404 error page */
.error-boundary,
.error-boundary:before,
.error-boundary:after,
.error-boundary *,
.error-boundary *:after,
.error-boundary *::before {
	box-sizing: border-box;
}

.error-boundary {
	display: flex;
	align-items: center;
	background: #e3f2fd;
	min-width: 275px;
	height: 100vh;
	overflow: hidden;
	color: #138ff2;
	font-family: Roboto;
}

.error-boundary .wrapper {
	flex-grow: 2;
	width: 40vw;
	max-width: 500px;
	margin: 0 auto;
}

.error-boundary h1 {
	margin: 0;
	font-size: 6em;
	font-weight: 100;
}

.error-boundary p {
	width: 95%;
	font-size: 1.5em;
	line-height: 1.4;
}

.error-boundary p .buttons {
	white-space: nowrap;
	display: block;
	margin-top: 30px;
}

.error-boundary span {
	display: block;
	text-transform: uppercase;
	color: #b9ddfb;
	letter-spacing: 1.5px;
	text-align: right;
}

.error-boundary a {
	display: inline-block;
	padding: 0.8em 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	border: 3px solid #b9ddfb;
	color: #138ff2;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2em;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
}

.error-boundary a:hover {
	color: black;
}

.error-boundary a:before {
	top: 0;
}

.error-boundary a:before {
	content: '';
	background: #138ff2;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	transition: 0.3s;
	z-index: -1;
}

.space {
	width: 75px;
	height: calc(50vh + 75px / 2);
	border-top-left-radius: calc(75px / 2);
	border-top-right-radius: calc(75px / 2);
	overflow: hidden;
	margin: calc(50vh - 75px / 2) auto 0 auto;
	position: relative;
	pointer-events: none;
	transform: translateZ(0);
}

.blackhole {
	border: calc(75px / 15) solid #1674d1;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.blackhole:after {
	content: '';
	height: calc(100% + 75px / 15 * 2);
	width: calc(100% + 75px / 15 * 2);
	border: calc(75px / 15) solid #1674d1;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	position: absolute;
	top: calc(-75px / 15);
	left: calc(-75px / 15);
	z-index: 5;
	transform: rotate(45deg);
}

.ship {
	height: calc(75px * 2);
	width: calc(75px - 75px / 15 * 4);
	margin-left: 15px;
	background: url('https://i.ya-webdesign.com/images/spaceship-svg.png') center/contain no-repeat;
	animation: blackhole 4s infinite linear;
	position: absolute;
	bottom: calc(75px * 2);
}

@keyframes blackhole {
	to {
		transform: translateY(-100vh);
	}
}
/* 404 error page */